apiVersion: apps/v1
kind: Deployment
metadata:
  name: videos-deployment
  labels:
    app: videos
spec:
  replicas: 2
  selector:
    matchLabels:
      app: videos
  template:
    metadata:
      labels:
        app: videos
    spec:
      containers:
        - name: videos
          image: 432686365376.dkr.ecr.us-east-1.amazonaws.com/hack-fiap233-videos:latest
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: videos-db-credentials
                  key: host
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: videos-db-credentials
                  key: port
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: videos-db-credentials
                  key: dbname
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: videos-db-credentials
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: videos-db-credentials
                  key: password
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 250m
              memory: 256Mi
          livenessProbe:
            httpGet:
              path: /videos/health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /videos/health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
