name: Build & Deploy Videos

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
  AWS_REGION: us-east-1
  ECR_REPOSITORY: hack-fiap233-videos
  EKS_CLUSTER_NAME: hack-fiap233-eks
  AWS_ACCOUNT_ID: "432686365376"

jobs:
  deploy:
    name: Build, Push & Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to ECR
        run: |
          aws ecr get-login-password --region $AWS_REGION | \
            docker login --username AWS --password-stdin $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com

      - name: Build Docker image
        run: |
          docker build --platform linux/amd64 \
            -t $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY:latest \
            -t $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY:${{ github.sha }} \
            .

      - name: Push to ECR
        run: |
          docker push $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY:latest
          docker push $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY:${{ github.sha }}

      - name: Configure kubectl
        run: aws eks update-kubeconfig --name $EKS_CLUSTER_NAME --region $AWS_REGION

      - name: Create/Update DB secret
        run: |
          CREDS=$(aws secretsmanager get-secret-value \
            --secret-id hack-fiap233/videos/db-credentials \
            --region $AWS_REGION \
            --query SecretString --output text)

          kubectl delete secret videos-db-credentials --ignore-not-found
          kubectl create secret generic videos-db-credentials \
            --from-literal=host=$(echo $CREDS | jq -r .host) \
            --from-literal=port=$(echo $CREDS | jq -r .port) \
            --from-literal=dbname=$(echo $CREDS | jq -r .dbname) \
            --from-literal=username=$(echo $CREDS | jq -r .username) \
            --from-literal=password=$(echo $CREDS | jq -r .password)

      - name: Deploy to EKS
        run: |
          kubectl apply -f k8s/
          kubectl rollout restart deployment/videos-deployment
          kubectl rollout status deployment/videos-deployment --timeout=120s
